# Weight Prediction

In [21]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
import joblib

In [22]:
df = pd.read_excel("datasets/weight-height.xlsx")

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 1 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Gender,"Height","Weight"  10000 non-null  object
dtypes: object(1)
memory usage: 78.2+ KB

In [24]:
df.head()

                 Gender,"Height","Weight"
0   Male,73.847017017515,241.893563180437
1  Male,68.7819040458903,162.310472521300
2    Male,74.1101053917849,212.7408555565
3  Male,71.7309784033377,220.042470303077
4  Male,69.8817958611153,206.349800623871

In [25]:
df2 = df.iloc[:, 0].str.split(',', expand=True)
df2.columns = [n.replace('"', '') for n in df.columns.str.split(',')[0]]

In [26]:
df2.head()

  Gender            Height            Weight
0   Male   73.847017017515  241.893563180437
1   Male  68.7819040458903  162.310472521300
2   Male  74.1101053917849    212.7408555565
3   Male  71.7309784033377  220.042470303077
4   Male  69.8817958611153  206.349800623871

In [27]:
#df2["Height"] = pd.to_numeric(df2['Height'],errors = 'coerce')
#df2["Weight"] = pd.to_numeric(df2['Weight'],errors = 'coerce')

In [28]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  10000 non-null  object
 1   Height  10000 non-null  object
 2   Weight  10000 non-null  object
dtypes: object(3)
memory usage: 234.5+ KB

In [29]:
df = df2

## Preprocessing Data

In [30]:
label_enc = LabelEncoder()
#Male = 1, Female = 0
df.Gender = label_enc.fit_transform(df.Gender)

In [31]:
df.head()

   Gender            Height            Weight
0       1   73.847017017515  241.893563180437
1       1  68.7819040458903  162.310472521300
2       1  74.1101053917849    212.7408555565
3       1  71.7309784033377  220.042470303077
4       1  69.8817958611153  206.349800623871

In [32]:
df

      Gender            Height            Weight
0          1   73.847017017515  241.893563180437
1          1  68.7819040458903  162.310472521300
2          1  74.1101053917849    212.7408555565
3          1  71.7309784033377  220.042470303077
4          1  69.8817958611153  206.349800623871
...      ...               ...               ...
9995       0  66.1726521477708  136.777454183235
9996       0   67.067154649054  170.867905890713
9997       0  63.8679922137577  128.475318784122
9998       0  69.0342431307346  163.852461346571
9999       0  61.9442458795172  113.649102675312

[10000 rows x 3 columns]

In [33]:
X = df.drop("Weight", axis=1)
y = df["Weight"]

In [34]:
X

      Gender            Height
0          1   73.847017017515
1          1  68.7819040458903
2          1  74.1101053917849
3          1  71.7309784033377
4          1  69.8817958611153
...      ...               ...
9995       0  66.1726521477708
9996       0   67.067154649054
9997       0  63.8679922137577
9998       0  69.0342431307346
9999       0  61.9442458795172

[10000 rows x 2 columns]

In [35]:
y

0       241.893563180437
1       162.310472521300
2         212.7408555565
3       220.042470303077
4       206.349800623871
              ...
9995    136.777454183235
9996    170.867905890713
9997    128.475318784122
9998    163.852461346571
9999    113.649102675312
Name: Weight, Length: 10000, dtype: object

In [36]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  10000 non-null  int32
 1   Height  10000 non-null  object
dtypes: int32(1), object(1)
memory usage: 117.3+ KB

## Training Model

In [37]:
log_regr = LinearRegression()
X_train, X_test, y_train, y_test = train_test_split(X, y)

model = log_regr.fit(X_train, y_train)

In [38]:
accuracy = model.score(X_test, y_test)

In [39]:
print(f"Akurasi Model: {accuracy * 100}%")

Akurasi Model: 90.77670610860216%

## Menyimpan Model dan Scaler

In [40]:
joblib.dump((model), "weight-height-classification-using-linear-regression.pkl")

['weight-height-classification-using-logistic-regression.pkl']